[Unit]
Description=Streamdnddeck service

[Service]
ExecStart=/usr/bin/streamdnddeck
WorkingDirectory=/home/pi/code/streamdnddeck
Type=simple

[Install]
WantedBy=multi-user.target


